IT353 Programming Challenge-local db/web/WEB-INF/wsdl/gfish.it.ilstu.edu_8080/ISUZillowWebService/ISUZillowWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ISUZillow.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ISUZillow.me.org/" name="ISUZillowWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ISUZillow.me.org/" schemaLocation="http://gfish.it.ilstu.edu:8080/ISUZillowWebService/ISUZillowWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchByAddress">
<part name="parameters" element="tns:searchByAddress"/>
</message>
<message name="searchByAddressResponse">
<part name="parameters" element="tns:searchByAddressResponse"/>
</message>
<message name="getSimilarProperties">
<part name="parameters" element="tns:getSimilarProperties"/>
</message>
<message name="getSimilarPropertiesResponse">
<part name="parameters" element="tns:getSimilarPropertiesResponse"/>
</message>
<message name="getDetailsEditedByOwnerOrAgent">
<part name="parameters" element="tns:getDetailsEditedByOwnerOrAgent"/>
</message>
<message name="getDetailsEditedByOwnerOrAgentResponse">
<part name="parameters" element="tns:getDetailsEditedByOwnerOrAgentResponse"/>
</message>
<message name="NoUpdatedDetailsException">
<part name="fault" element="tns:NoUpdatedDetailsException"/>
</message>
<portType name="ISUZillowWebService">
<operation name="searchByAddress">
<input wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/searchByAddressRequest" message="tns:searchByAddress"/>
<output wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/searchByAddressResponse" message="tns:searchByAddressResponse"/>
</operation>
<operation name="getSimilarProperties">
<input wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/getSimilarPropertiesRequest" message="tns:getSimilarProperties"/>
<output wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/getSimilarPropertiesResponse" message="tns:getSimilarPropertiesResponse"/>
</operation>
<operation name="getDetailsEditedByOwnerOrAgent">
<input wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/getDetailsEditedByOwnerOrAgentRequest" message="tns:getDetailsEditedByOwnerOrAgent"/>
<output wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/getDetailsEditedByOwnerOrAgentResponse" message="tns:getDetailsEditedByOwnerOrAgentResponse"/>
<fault message="tns:NoUpdatedDetailsException" name="NoUpdatedDetailsException" wsam:Action="http://ISUZillow.me.org/ISUZillowWebService/getDetailsEditedByOwnerOrAgent/Fault/NoUpdatedDetailsException"/>
</operation>
</portType>
<binding name="ISUZillowWebServicePortBinding" type="tns:ISUZillowWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchByAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSimilarProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetailsEditedByOwnerOrAgent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoUpdatedDetailsException">
<soap:fault name="NoUpdatedDetailsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ISUZillowWebService">
<port name="ISUZillowWebServicePort" binding="tns:ISUZillowWebServicePortBinding">
<soap:address location="http://gfish.it.ilstu.edu:8080/ISUZillowWebService/ISUZillowWebService"/>
</port>
</service>
</definitions>