src/conf/xml-resources/web-service-references/ISUZillowWebService/wsdl/gfish.it.ilstu.edu_8080/ISUZillowWebService/ISUZillowWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ISUZillow.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ISUZillow.me.org/">

<xs:element name="NoUpdatedDetailsException" type="tns:NoUpdatedDetailsException"/>

<xs:element name="getDetailsEditedByOwnerOrAgent" type="tns:getDetailsEditedByOwnerOrAgent"/>

<xs:element name="getDetailsEditedByOwnerOrAgentResponse" type="tns:getDetailsEditedByOwnerOrAgentResponse"/>

<xs:element name="getSimilarProperties" type="tns:getSimilarProperties"/>

<xs:element name="getSimilarPropertiesResponse" type="tns:getSimilarPropertiesResponse"/>

<xs:element name="searchByAddress" type="tns:searchByAddress"/>

<xs:element name="searchByAddressResponse" type="tns:searchByAddressResponse"/>

<xs:complexType name="searchByAddress">
<xs:sequence>
<xs:element name="inputAddress" type="xs:string" minOccurs="0"/>
<xs:element name="cityCommaStateOrZipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:searchResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResult">
<xs:sequence>
<xs:element name="zpid" type="xs:int"/>
<xs:element name="homeInformationLink" type="xs:string" minOccurs="0"/>
<xs:element name="similarHomesLink" type="xs:string" minOccurs="0"/>
<xs:element name="fipsCounty" type="xs:int"/>
<xs:element name="homeType" type="xs:string" minOccurs="0"/>
<xs:element name="taxAssessmentYear" type="xs:int"/>
<xs:element name="taxAssessment" type="xs:double"/>
<xs:element name="zestimate" type="tns:zestimate" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="rentEstimate" type="tns:rentEstimate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zestimate">
<xs:sequence>
<xs:element name="saleAmount" type="xs:int"/>
<xs:element name="lastUpdated" type="xs:string" minOccurs="0"/>
<xs:element name="valueChangeLast30Days" type="xs:int"/>
<xs:element name="valuationLow" type="xs:int"/>
<xs:element name="valuationHigh" type="xs:int"/>
<xs:element name="percentileValue" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
<xs:element name="regionType" type="xs:string" minOccurs="0"/>
<xs:element name="regionOverviewLink" type="xs:string" minOccurs="0"/>
<xs:element name="regionForSaleByOwnerLink" type="xs:string" minOccurs="0"/>
<xs:element name="regionForSaleLink" type="xs:string" minOccurs="0"/>
<xs:element name="regionID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="latitude" type="xs:double"/>
<xs:element name="longitude" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentEstimate">
<xs:sequence>
<xs:element name="rentAmount" type="xs:int"/>
<xs:element name="lastUpdated" type="xs:string" minOccurs="0"/>
<xs:element name="valuationLow" type="xs:int"/>
<xs:element name="valuationHigh" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSimilarProperties">
<xs:sequence>
<xs:element name="similarPropertiesCount" type="xs:int"/>
<xs:element name="zpid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSimilarPropertiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:similarPropertiesInformation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="similarPropertiesInformation">
<xs:sequence>
<xs:element name="similarHomesLink" type="xs:string" minOccurs="0"/>
<xs:element name="principalPropertyInformation" type="tns:propertyInformation" minOccurs="0"/>
<xs:element name="similarProperties" type="tns:similarProperty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyInformation">
<xs:sequence>
<xs:element name="zpid" type="xs:int"/>
<xs:element name="homeInformationLink" type="xs:string" minOccurs="0"/>
<xs:element name="taxAssessmentYear" type="xs:int"/>
<xs:element name="taxAssessment" type="xs:double"/>
<xs:element name="yearBuilt" type="xs:int"/>
<xs:element name="lotSizeSquareFoot" type="xs:int"/>
<xs:element name="finishedSquareFoot" type="xs:int"/>
<xs:element name="numberOfBathrooms" type="xs:double"/>
<xs:element name="numberOfBedrooms" type="xs:double"/>
<xs:element name="totalRooms" type="xs:string" minOccurs="0"/>
<xs:element name="lastSoldDate" type="xs:string" minOccurs="0"/>
<xs:element name="lastSoldPrice" type="xs:int"/>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
<xs:element name="zestimate" type="tns:zestimate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="similarProperty">
<xs:sequence>
<xs:element name="comparableScore" type="xs:double"/>
<xs:element name="propertyInformation" type="tns:propertyInformation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDetailsEditedByOwnerOrAgent">
<xs:sequence>
<xs:element name="zpid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDetailsEditedByOwnerOrAgentResponse">
<xs:sequence>
<xs:element name="return" type="tns:homeDetailsEditedByOwnerOrAgent" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="homeDetailsEditedByOwnerOrAgent">
<xs:sequence>
<xs:element name="zpid" type="xs:int"/>
<xs:element name="pageViewCountMonth" type="xs:int"/>
<xs:element name="pageViewCountAllTime" type="xs:int"/>
<xs:element name="homeInformationLink" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="editedFacts" type="tns:editedFacts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editedFacts">
<xs:sequence>
<xs:element name="numberOfBathrooms" type="xs:double"/>
<xs:element name="numberOfBedrooms" type="xs:double"/>
<xs:element name="lotSizeSquareFoot" type="xs:int"/>
<xs:element name="finishedSquareFoot" type="xs:int"/>
<xs:element name="yearBuilt" type="xs:int"/>
<xs:element name="yearUpdated" type="xs:int"/>
<xs:element name="numberOfFloors" type="xs:int"/>
<xs:element name="homeType" type="xs:string" minOccurs="0"/>
<xs:element name="basement" type="xs:string" minOccurs="0"/>
<xs:element name="roofType" type="xs:string" minOccurs="0"/>
<xs:element name="view" type="xs:string" minOccurs="0"/>
<xs:element name="parkingType" type="xs:string" minOccurs="0"/>
<xs:element name="heatingSources" type="xs:string" minOccurs="0"/>
<xs:element name="heatingSystem" type="xs:string" minOccurs="0"/>
<xs:element name="appliances" type="xs:string" minOccurs="0"/>
<xs:element name="floorCovering" type="xs:string" minOccurs="0"/>
<xs:element name="totalRooms" type="xs:string" minOccurs="0"/>
<xs:element name="homeDescription" type="xs:string" minOccurs="0"/>
<xs:element name="neighborhood" type="xs:string" minOccurs="0"/>
<xs:element name="schoolDistrict" type="xs:string" minOccurs="0"/>
<xs:element name="elementarySchool" type="xs:string" minOccurs="0"/>
<xs:element name="middleSchool" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoUpdatedDetailsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>